@model ReadMe.Web.Models.Profile.UserDetailsViewModel

<div class="modal fade" id="edit-form-modal" tabindex="-1" role="dialog" aria-labelledby="edit-form-modal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            @using (@Ajax.BeginForm("Edit", "Profile", null, new AjaxOptions
            {
                HttpMethod = "POST",
                UpdateTargetId = "user-info",
                OnSuccess = "closeModal"
            }))
            {
                @Html.AntiForgeryToken()
                <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLabel">Edit user</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        @*@Html.AntiForgeryToken()*@
                        <div class="form-group">
                            @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.Email)
                                @Html.ValidationMessageFor(model => model.Email)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.FirstName, new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.FirstName)
                                @Html.ValidationMessageFor(model => model.FirstName)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.LastName, new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.LastName)
                                @Html.ValidationMessageFor(model => model.LastName)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Nationality, new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.Nationality)
                                @Html.ValidationMessageFor(model => model.Nationality)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Age, new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.Age)
                                @Html.ValidationMessageFor(model => model.Age)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.FavouriteQuote, new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.FavouriteQuote)
                                @Html.ValidationMessageFor(model => model.FirstName)
                            </div>
                        </div>

                        @Html.HiddenFor(model => model.Id)
                        @Html.HiddenFor(model => model.UserName)
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="close-modal" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input type="submit" value="Save changes" class="btn btn-primary" id="send" />
                </div>
            }
        </div>
    </div>
</div>

