@using Microsoft.AspNet.Identity;

@using ReadMe.Web.Models.Reviews

@model ICollection<ReviewViewModel>

<div class="row book-reviews">

    @if (Model.Any())
    {
        <div class="col-xs-12">
            @foreach (var review in Model)
            {
                <div class="mbr-testimonial card">
                    <div class="card-block">
                        @if (review.UserId == User.Identity.GetUserId())
                        {
                            @Ajax.ActionLink(" ", "Index", "Reviews", new { id = review.Id },
                            new AjaxOptions
                            {
                                HttpMethod = "DELETE",
                                Confirm = "Are you sure you want to delete review for " + review.Book.Title,
                                OnSuccess = "removeReview"
                            },
                            new { @class = "btn btn-danger glyphicon glyphicon-trash", id = "delete-review" })
                        }

                        <p>@review.Content</p>
                        <p style="font-size:1rem">Posted on @Html.DisplayFor(x => review.PostedOn)</p>
                    </div>
                    <div class="mbr-author card-footer">
                        <div class="mbr-author-name">
                            for
                            <img id="review-user-img" class="img-circle" src="@review.Book.PhotoUrl" width="2%;" />
                            @Html.ActionLink(review.Book.Title, "Details", "Books", new { id = review.BookId }, null)
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <div class="col-xs-12">
            No reviews
        </div>
    }

</div>

