@using Microsoft.AspNet.Identity;

@model ReadMe.Web.Models.Profile.ProfileViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if(@Model.UserDetailsViewModel.Id == User.Identity.GetUserId())
{
    <h2 class="title">My profile</h2>
}
else
{
    <h2 class="title">Profile</h2>
}

<div>
    <hr />
    
    @Html.Partial("_UserInfoPartial", Model.UserDetailsViewModel)

    <div class="container">
        <h2>
            <b>Books</b>
        </h2>
        <hr />
        <div class="profile-wishlist">
            <h3>
                <b>Want To Read</b>
            </h3>
            <hr />
            @foreach (var book in Model.WishlistBooks)
            {
                @Html.Partial("_BookShortPartial", book)
            }

            @if (!Model.WishlistBooks.Any())
            {
                <p>No books added with this status</p>
            }
        </div>
        <hr />
        <div class="profile-currently-reading">
            <h3>
                <b>Currently Reading</b>
            </h3>
            <hr />
            @foreach (var book in Model.CurrentlyReadingBooks)
            {
                @Html.Partial("_BookShortPartial", book)
            }

            @if (!Model.CurrentlyReadingBooks.Any())
            {
                <p>No books added with this status</p>
            }
        </div>
    </div>

    @Html.Partial("_EditUserPartial", @Model.UserDetailsViewModel)

</div>
