@using Microsoft.AspNet.Identity;

@model ReadMe.Web.Models.Profile.ProfileViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if(@Model.UserDetailsViewModel.Id == User.Identity.GetUserId())
{
    <h2 class="title">My profile</h2>
}
else
{
    <h2 class="title">Profile</h2>
}

<div class="user-profile">
    <hr />
    <div id="user-info">
        @Html.Partial("_UserInfoPartial", Model.UserDetailsViewModel)
    </div>

    <div class="panel">
        <h2>
            <b>Books</b>
        </h2>
        <hr />
        <div class="profile-wishlist">
            <h3>
                <b>Want To Read</b>
            </h3>
            <hr />

            @if (Model.WishlistBooks.Count == 0)
            {
                <div class="list-group">No books added with this status</div>
            }
            else
            {
                @Html.Partial("_BooksListPartial", Model.WishlistBooks)
            }

        </div>
        <hr />
        <div class="profile-currently-reading">
            <h3>
                <b>Currently Reading</b>
            </h3>
            <hr />

            @if (Model.CurrentlyReadingBooks.Count == 0)
            {
                <div class="list-group">No books added with this status</div>
            }
            else
            {
                @Html.Partial("_BooksListPartial", Model.CurrentlyReadingBooks)
            }
        </div>
        <hr />

        <div class="profile-read">
            <h3>
                <b>Read books</b>
            </h3>
            <hr />

            @if (Model.ReadBooks.Count == 0)
            {
                <div class="list-group">No books added with this status</div>
            }
            else
            {
                @Html.Partial("_BooksListPartial", Model.ReadBooks)
            }

        </div>
    </div>

    <div class="panel">
        <h2>
            <b>Reviews</b>
        </h2>
        <hr />
        @Html.Partial("_UserReviewsPartial", @Model.ReviewsModels)
    </div>

    @Html.Partial("_EditUserPartial", @Model.UserDetailsViewModel)

</div>

@section scripts {
    @Scripts.Render("~/bundles/reviews")
    @Scripts.Render("~/bundles/user-profile")
}