@model ReadMe.Web.Models.Profile.UserProfileViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p>ViewBag.roles</p>
@if(@Model.isOwner)
{
    <h2>My profile</h2>
}
else
{
    <h2>Profile</h2>
}

<div>
    <hr />

    <div class="row">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-md-4 col-xs-12 col-sm-6 col-lg-4">
                        <img alt="User Pic" src="@Model.PhotoUrl" id="profile-image1" class="img-thumbnail img-responsive">
                    </div>
                    <div class="col-md-8 col-xs-12 col-sm-6 col-lg-8">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-10">
                                    <h2>@Model.UserName</h2>
                                </div>
                                <div class="col-md-2">
                                    @if (Model.isOwner)
                                    {
                                        <h3>
                                            @Html.ActionLink("Edit", "Edit", "Profile", routeValues: null, htmlAttributes: new { @class = "btn btn-primary btn-lg" })
                                        </h3>
                                    }
                                    else
                                    {
                                        <h3>
                                            @Html.ActionLink("Follow", "Edit", "Profile", routeValues: null, htmlAttributes: new { @class = "btn btn-warning btn-lg" })
                                        </h3>
                                    }

                                </div>
                            </div>
                            <p>
                                <span class="glyphicon glyphicon-envelope one" style="width:50px;"></span>
                                <span> @Model.Email </span>
                            </p>
                        </div>
                        <hr>
                        <dl class="container details dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.FullName)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.FullName)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Nationality)
                            </dt>

                            <dd>
                                @if (Model.Nationality != null)
                                {
                                    @Html.DisplayFor(model => model.Nationality)

                                }
                                else
                                {
                                    <span>-</span>
                                }
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Age)
                            </dt>

                            <dd>
                                @if (Model.Age != 0)
                                {
                                    @Html.DisplayFor(model => model.Age)
                                }
                                else
                                {
                                    <span>-</span>
                                }
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.FavouriteQuote)
                            </dt>

                            <dd>
                                @if (Model.FavouriteQuote != null)
                                {
                                    @Html.DisplayFor(model => model.FavouriteQuote)
                                }
                                else
                                {
                                    <span>-</span>
                                }
                            </dd>
                        </dl>
                        <hr>
                    </div>
                </div>
            </div>
        </div>

    <div class="container">
        @Html.Partial("_BooksPartial", @Model.UserBooks)
    </div>

</div>
