@using Microsoft.AspNet.Identity;

@model ReadMe.Web.Models.Profile.ProfileViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if(@Model.UserDetailsViewModel.Id == User.Identity.GetUserId())
{
    <h2 class="title">My profile</h2>
}
else
{
    <h2 class="title">Profile</h2>
}

<div class="user-profile">
    <hr />
    <div id="user-info">
        @Html.Partial("_UserInfoPartial", Model.UserDetailsViewModel)
    </div>

    <div class="panel">
        <div class="col-md-12">
            <h3 class="section-title">Book collections</h3>
            <div class="section-title-divider"></div>
        </div>
        <div class="profile-wishlist">
            <h3 class="section-title">
                <b>Want To Read</b>
            </h3>

            @if (Model.WishlistBooks.Count == 0)
            {
                <div class="list-group">No books added with this status</div>
            }
            else
            {
                @Html.Partial("_BooksListPartial", Model.WishlistBooks)
            }

        </div>
        <hr/>
        <div class="profile-currently-reading">
            <h3 class="section-title">
                <b>Currently Reading</b>
            </h3>

            @if (Model.CurrentlyReadingBooks.Count == 0)
            {
                <div>No books added with this status</div>
            }
            else
            {
                @Html.Partial("_BooksListPartial", Model.CurrentlyReadingBooks)
            }
        </div>
        <hr/>

        <div class="profile-read">
            <h3 class="section-title">
                <b>Read books</b>
            </h3>
            @if (Model.ReadBooks.Count == 0)
            {
                <div class="list-group">No books added with this status</div>
            }
            else
            {
                @Html.Partial("_BooksListPartial", Model.ReadBooks)
            }

        </div>
    </div>
    <div class="panel">
        <div class="col-md-12">
            <h3 class="section-title">Reviews</h3>
            <div class="section-title-divider"></div>
        </div>
        @Html.Partial("_UserReviewsPartial", @Model.ReviewsModels)
    </div>

    @Html.Partial("_EditUserPartial", @Model.UserDetailsViewModel)

</div>

@section scripts {
    @Scripts.Render("~/bundles/reviews")
    @Scripts.Render("~/bundles/user-profile")
}