@model ICollection<ReadMe.Web.Models.Reviews.ReviewViewModel>

@foreach (var review in Model)
{
    <div class="review">
        <div>
            <a href="/Profile/Details/@review.User.UserName">
                <img class="img-responsive img-circle img-center" src="@review.User.PhotoUrl"/>
            </a>
        </div>
        <div class="row">
            <blockquote>
                @review.Content
                <cite>
                    <span>@Html.ActionLink(@review.User.UserName, "Details", new { controller = "Profile", username = review.User.UserName })</span>
                    <span>for</span>
                    <span>@Html.ActionLink(@review.Book.Title, "Details", new { controller = "Books", id = review.Book.Id })</span>
                </cite>
            </blockquote>
        </div>
    </div>

    <hr />

}
