@using ReadMe.Web.Models.Reviews

@model ReviewViewModel

<div class="mbr-testimonial card">
    <div class="card-block">
        <p>@model.Content</p>
        <p style="font-size:1rem">Posted on @Html.DisplayFor(x => @model.PostedOn)</p>
    </div>
    <div class="mbr-author card-footer">
        <div class="mbr-author-name">
            by
            <img id="review-user-img" class="img-circle" src="@model.User.PhotoUrl" width="2%" />
            - @Html.ActionLink(@model.User.UserName, "Details", "Profile", new { id = @model.User.UserName }, null)
        </div>
    </div>  
</div>
