@using Microsoft.AspNet.Identity;
@model  ReadMe.Web.Models.Authors.AuthorViewModel

@{
    ViewBag.Title = "Author";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="title">Author details</h2>

<hr />

<div class="row">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-md-4 col-xs-12 col-sm-6 col-lg-4">
                <img alt="User Pic" src="@Model.PhotoUrl" id="profile-image1" class="img-thumbnail img-responsive">
            </div>
            <div class="col-md-8 col-xs-12 col-sm-6 col-lg-8">
                <div class="container">
                    <div class="row">
                        <div class="col-md-10">
                            <h2>@Model.FullName</h2>
                        </div>
                    </div>
                    <p>
                        <i class="fa fa-envelope one" style="width:50px;"></i>
                        <a href="@Model.Website">@Model.Website</a>
                    </p>
                </div>
                <hr>
                <dl class="container details dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Nationality)
                    </dt>

                    <dd>
                        @if (Model.Nationality != null)
                        {
                            @Html.DisplayFor(model => model.Nationality)

                        }
                        else
                        {
                            <span>-</span>
                        }
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Age)
                    </dt>

                    <dd>
                        @if (Model.Age != 0)
                        {
                            @Html.DisplayFor(model => model.Age)
                        }
                        else
                        {
                            <span>-</span>
                        }
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Biography)
                    </dt>

                    <dd>
                        @if (Model.Biography != null)
                        {
                            @Html.DisplayFor(model => model.Biography)
                        }
                        else
                        {
                            <span>-</span>
                        }
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>



