@model ReadMe.Web.Models.Search.SearchViewModel

@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel search-panel">

    @using (@Ajax.BeginForm("Search", "Search", new AjaxOptions
    {
        HttpMethod = "POST",
        UpdateTargetId = "search-results",
        InsertionMode = InsertionMode.Replace
    }, new { id = "search-form" }))
    {
        <div class="container">
            <span class="icon"><i class="fa fa-search"></i></span>
            
            @Html.TextBoxFor(m => m.SearchPattern, new { id = "search-pattern", @class = "form-control" })
            @Html.RadioButtonFor(m => m.SearchType, "title", new { @checked = true }) @Html.Label("title")
            @Html.RadioButtonFor(m => m.SearchType, "author") @Html.Label("author")
            @Html.RadioButtonFor(m => m.SearchType, "year") @Html.Label("year")
        </div>
    }

    <div id="search-results"></div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/search")  
}


