
@{
    ViewBag.Title = "Admin panel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/admin-css")

<div class="toggled" id="wrapper">
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li>
               @Ajax.ActionLink("Genres",
                                "Index",
                                "Genres",
                                new AjaxOptions
                                {
                                    HttpMethod = "GET",
                                    InsertionMode = InsertionMode.Replace,
                                    UpdateTargetId = "admin-main"
                                });
                @*<a href="/administration/genres">Genres</a>*@
            </li>
            <li>
                @Ajax.ActionLink("Books",
                                "Index",
                                "Books",
                                new AjaxOptions
                                {
                                    HttpMethod = "GET",
                                    InsertionMode = InsertionMode.Replace,
                                    UpdateTargetId = "admin-main"
                                });
                @*<a href="/administration/books">Books</a>*@
            </li>
            <li>
                @Ajax.ActionLink("Users",
                                "Index",
                                "Users",
                                new AjaxOptions
                                {
                                    HttpMethod = "GET",
                                    InsertionMode = InsertionMode.Replace,
                                    UpdateTargetId = "admin-main"
                                });
                @*<a href="/administration/users">Users</a>*@
            </li>
            <li>
                @*@Ajax.ActionLink("Reviews",
                                "Index",
                                "Reviews",
                                new AjaxOptions
                                {
                                    HttpMethod = "GET",
                                    InsertionMode = InsertionMode.Replace,
                                    UpdateTargetId = "admin-main"
                                });*@
                @*<a href="/administration/reviews">Reviews</a>*@
            </li>
            <li>
                @Ajax.ActionLink("Authors",
                                "Index",
                                "Authors",
                                new AjaxOptions
                                {
                                    HttpMethod = "GET",
                                    InsertionMode = InsertionMode.Replace,
                                    UpdateTargetId = "admin-main"
                                });
                @*<a href="/administration/authors">Authors</a>*@
            </li>
            <li>
                @Ajax.ActionLink("Publishers",
                                "Index",
                                "Publishers",
                                new AjaxOptions
                                {
                                    HttpMethod = "GET",
                                    InsertionMode = InsertionMode.Replace,
                                    UpdateTargetId = "admin-main"
                                });
                @*<a href="/administration/publishers">Publishers</a>*@
            </li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper administration-box">
        <div class="container-fluid">
            <h1>Admin panel</h1>
            <p>Choose what you want to administer</p>
            <a href="#menu-toggle" class="btn btn-primary" id="menu-toggle">Toggle Menu</a>
            <div id="admin-main"></div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->
</div>