@using ReadMe.Web.Models.Reviews

@model ReviewViewModel

<div class="post-review" id="post-review">
    <div class="mbr-testimonial card">
        <div class="card-block">
            @using (@Ajax.BeginForm("Post", "Reviews", null, new AjaxOptions
            {
                HttpMethod = "POST",
                UpdateTargetId = "post-review",
                OnSuccess = "addReview"
            }, null))
            {
                @Html.AntiForgeryToken()
                @Html.TextAreaFor(r => r.Content, new { @class = "form-control", placeholder = "Write your review here...", style = "min-width: 100%" })

                @Html.HiddenFor(model => model.UserId)
                @Html.HiddenFor(model => model.BookId)
                <input type="submit" value="Leave review" id="post-review-btn" class="btn btn-block btn-success" />
            }
            
        </div>
    </div>
</div>
