@model ReadMe.Web.Models.Books.BookDetailsViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="title">Book details</h2>

<div>
    <hr/>
    
    @Html.Partial("_BookInfoPartial", @Model.BookInfoViewModel)

    <h2>
        <b>Reviews</b>
    </h2>
    @if (Model.FormReviewViewModel != null && User.Identity.IsAuthenticated)
    {
        <hr />
        @Html.Partial("_FormReviewPartial", @Model.FormReviewViewModel)
    }

    <hr />
    @Html.Partial("_BookReviewsPartial", @Model.ReviewViewModels)
    
</div>

@section scripts {
    @Scripts.Render("~/bundles/reviews")
    @Scripts.Render("~/bundles/book-status")
    @Scripts.Render("~/bundles/rating")
}
